In [2]:
import nba_api
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [8]:
championship_teams_df = pd.read_csv('Resources/championship_teams.csv')
championship_teams_df.head()

   Year                   Team Result
0  2020     Los Angeles Lakers    4-2
1  2019        Toronto Raptors    4-2
2  2018  Golden State Warriors    4-0
3  2017  Golden State Warriors    4-1
4  2016    Cleveland Cavaliers    4-3

In [17]:
result = [year for year in championship_teams_df['Result']]
opponents_scores = [107.6, 108.4, 107.5, 104.3, 98.3, 99.9, 97.6, 95.0, 92.5, 96.0,
                    97.0, 99.3, 90.3, 90.1, 96.0, 88.4, 84.3, 90.4, 94.1, 97.2, 92.3]

champs_points_df['Result'] = result
champs_points_df.to_csv('Resources/champs_stats.csv', index=False, header=True)

C:\Users\K\AppData\Local\Temp\ipykernel_19932\2684625268.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  champs_points_df['Result'] = result